//font sizes for 992px and up
$base-size: 20;
$chat-title: 48;
$chatName-title: 24;
$text-size: 16;

//font sizes for 668px and up

//colors used in app
$primary-color: #272d38;
$secondary-color: #717384;
$tertiary-color: #313846;
$user-color: rgb(14, 147, 255);
