@use "../../../styles/functions";
@use "../../../styles/variables";
.Container {
  background-color: hsl(220, 18%, 23%);
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.top {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 0.5em 0.5em;
  font: {
    size: functions.em(variables.$chat-title);
  }
  text-transform: uppercase;
}

.searchInput {
  font-size: functions.em(variables.$base-size);
  margin: 0em 1em;
  padding: 1em;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #272d38;
  ::placeholder {
    color: #717384;
  }
}

.chatList {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  height: 70%;
  overflow: auto;
}

.chatListTitle {
  padding: 0em 1em;
  //background-color: hsl(220, 18%, 23%);
  font: {
    size: functions.em(variables.$base-size);
  }
  text-transform: uppercase;
}

.chatListItem {
  height: 12%;
  display: flex;
  flex-direction: row;

  padding: 1em;
  //margin: 1em 0em;

  &:hover {
    background-color: hsl(218, 19%, 17%);
    cursor: pointer;
    transition: all 400s;
  }

  img {
    border-radius: 9999px;
  }
}

.msg_no{
  background-color: red;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-left: auto;
  border-radius: 999999px;

  div{
    padding: 0.5em;
    
  }
 
}



.name {
  width: 50%;
  font-weight: 500;
  overflow: hidden;
  margin-left: 1em;
  font-size: functions.em(variables.$base-size);
}

.time {
  width: 50%;
  color: gray;
  text-align: center;
}

.message {
  width: 100%;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
}
