@use "../../styles/variables";

.main {
  height: 100%;
  display: grid;
  grid-template-columns: 7.5% 92.5%;
  grid-template-rows: 1fr;
  grid-template-areas: "nav page";
}

.pageContainer {
  grid-area: page;
  background-color: variables.$primary-color;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  color: white;
  min-height: 0;
  min-width: 0;
}

.navContainer {
  grid-area: nav;
  background-color: variables.$primary-color;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
